@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century gothic';
}

body {
    background: rgb(255, 255, 255);
}

.main {
    background-color: #5261aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 40px;

}

.logo h1 {
    font-size: 20px;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    color: white;
    margin: 0px 10px;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    list-style: none;
}

.ig {
    margin-left: 20px;

}

.ig img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.float {
    position: absolute;
    width: 230px;
    background-color: rgba(173, 195, 230, 0.523);
    box-shadow: 1px 5px 10px 0px hsl(237, 76%, 63%);
    top: 50px;
    right: 0px;
    border-radius: 5px;
    max-height: 0px;
    transition: 0.2s;
    overflow: hidden;
}

.float ::before{
    background-color: rgba(255, 255, 255, 0.523);
    content: '';
    height: 20px;
    position: absolute;
    right: 8px;
    transform: rotate(45deg);
    top: -15px;
    width: 20px;
}


.float hr {
    background-color: rgb(0, 0, 0);
}

/* Create one class not linked to html */ /* Create one class not linked to html */ /* Create one class not linked to html */ /* Create one class not linked to html */ 
/*Left bar*//*Left bar*//*Left bar*//*Left bar*//*Left bar*//*Left bar*//*Left bar*/
.fin {
    max-height: 250px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.profile h4 {
    font-size: 14px;
    margin-left: 10px;
}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.ASP img{
    width: 70px;
    height: 70px;
}

.ic {
    padding: 7px 15px;
    display: flex;
    align-items: center;
}

.div {
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
}

.ic a {
    font-size: 14px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
    color: black;
    text-decoration: none;
}

.ic:hover a {
    font-weight: 700;
}

.ic i {
    font-size: 18px;
    width: 18;
    background-color: rgb(128, 128, 128, 0.573);
    padding: 5px;
    border-radius: 50%;
    color: rgb(27, 16, 87);
}

/*Account settings form*/
.form{
    display: flex;
    padding: 1.25rem 0 3.125rem;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

.left-bar{
    display: block;
    width: 180px;
    flex-shrink: 0;
}

.picture-link, .shopshop-avatar{
    width: 50px;
    height: 50px;
}

.shopshop-avatar{
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    border-radius: 50%;
    border: .0625rem solid rgba(0,0,0,.09);
    box-sizing: border-box;
}

.shopshop-picture{
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.shopshop-picture .icon-headshot{
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
}

svg:not(:root) {
    overflow: hidden;
}

.shopshop-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

/*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*//*SETTINGS*/

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.name h4{
    align-items: center;
    color: #5261aa;
    font-size: medium;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-group .gender{
	color: aqua;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 8;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

button, input {
    overflow: visible;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff7700;
}

.btn-primary {
    color: #fff;
    background-color: #ff7700;
    border-color: #ff7700;
}
.btn-primary:hover{
    color: #ffa600;
}

.btn-light {
    color: #212529;
    background-color: #faf9f8;
    border-color: #ff8000;
}